@import "../../assets/styles/palette.scss";

.tile {
  &__overlay {
    transition: all 0.8s;
    color: $c-white;
    background: linear-gradient(
      to right,
      rgba($c-blue-300, 1) 0%,
      rgba($c-blue-300, 0.77) 23%,
      rgba($c-blue-300, 0.53) 40%,
      rgba($c-blue-300, 0) 100%
    );
  }

  &__desktop {
    transition: border 0.5s;
    border: 33px solid black;

    &:hover {
      border: 1px solid black;
    }
  }
}
