/* Coolors Exported Palette - coolors.co/353535-ccdbdc-dae3e5-80a4ed-868784 */

/* HSL */
// $c-dark: hsla(0%, 0%, 21%, 1);
// $c-blue-100: hsla(184%, 19%, 83%, 1);
// $c-light: hsla(191%, 17%, 88%, 1);
// $c-blue-200: hsla(220%, 75%, 72%, 1);
// $c-blue-300: hsl(220, 75%, 62%)
// $c-grey: hsla(80%, 1%, 52%, 1);

/* RGB */
$c-white: rgba(250, 250, 250, 1);
$c-light: rgba(218, 227, 229, 1);
$c-blue-100: rgba(204, 219, 220, 1);
$c-blue-200: rgba(128, 164, 237, 1);
$c-blue-300: rgba(85, 134, 231, 1);
$c-grey: rgba(134, 135, 132, 1);
$c-dark: rgba(53, 53, 53, 1);
